<div style="background-image:url(../Images/april_2_.jpg); height:100vh; width:100vw;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DU Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account">Account</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logButton" (click)="LogOnOff()" class="btn navbar-btn">Log off</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
